@font-face {
  font-family: 'Titillium Web';
  font-weight: 400;
  font-style: normal;
  src: url('fonts/Titillium-Web-regular/Titillium-Web-regular.eot');
  src: url('fonts/Titillium-Web-regular/Titillium-Web-regular.eot?#iefix') format('embedded-opentype'),
       local('Titillium Web'),
       local('Titillium-Web-regular'),
       url('fonts/Titillium-Web-regular/Titillium-Web-regular.woff2') format('woff2'),
       url('fonts/Titillium-Web-regular/Titillium-Web-regular.woff') format('woff'),
       url('fonts/Titillium-Web-regular/Titillium-Web-regular.ttf') format('truetype'),
       url('fonts/Titillium-Web-regular/Titillium-Web-regular.svg#TitilliumWeb') format('svg');
}


@font-face {
  font-family: 'Catamaran';
  font-weight: 900;
  font-style: normal;
  src: url('fonts/Catamaran-900/Catamaran-900.eot');
  src: url('fonts/Catamaran-900/Catamaran-900.eot?#iefix') format('embedded-opentype'),
       local('Catamaran Black'),
       local('Catamaran-900'),
       url('fonts/Catamaran-900/Catamaran-900.woff2') format('woff2'),
       url('fonts/Catamaran-900/Catamaran-900.woff') format('woff'),
       url('fonts/Catamaran-900/Catamaran-900.ttf') format('truetype'),
       url('fonts/Catamaran-900/Catamaran-900.svg#Catamaran') format('svg');
}



body {
  background: -moz-linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(77,31,0,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(0,0,0,1)), color-stop(100%, rgba(77,31,0,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(77,31,0,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(77,31,0,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(77,31,0,1) 100%); /* ie10+ */
  background: linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(77,31,0,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4D1F00', endColorstr='#000000',GradientType=1 ); /* ie6-9 */

  padding-top:5%;
  font-family: 'Titillium Web', sans-serif !important;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  font-size:6rem;
  text-transform: uppercase;
  color: white;
  font-family: 'Catamaran', sans-serif !important;
  font-weight: 600;
}

h1, h2, h3, h5, label, p, small {
  color: white;
}

.orange {
  color: #dd683c;
}

h3 {
  font-size: 1.2rem;
}

.memory-card-image {
  display: block;
  margin: 0 auto;
  height: 120px;
  transform: rotate(50deg);
  padding-bottom: 10%;
}

.heart {
  height: 10px;
  margin: 0 5px;
}

.inputs {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.result {
  font-size: 3.5rem;
}

.result-section {
  text-align: center;
}

.footer {
  color: white;
}

.navigation {
  display: flex;
  justify-content: space-around;
  margin: 0px 0px 20px 0px;
}

.navigation > a {
  text-transform: uppercase;
  color: white;
}


a {
  color: #dd683c !important;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
